/* nav div {
  display: flex;
  justify-content: space-between;
}

#navOptions {
  justify-content: space-between;
} */

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between !important;
  }
}

nav div ul {
  gap: 20px;
}


.search {
  color: #ffffff2c;
}

.search:hover {
  background: #ffffff14;
}

.search:active {
  background-color: #ffffff38;
}

/* .search:focus {background-color:#ffffff46;} */

.round {
  border-radius: 15px;
}

.al-center {
  display: flex;
  gap: 10px;
  align-items: center;
}

var {
  width: 30%;
  height: 30px;
  text-align: center;
  color: #fff;
}

nav {
  background-color: indigo;
}

.navbar-toggler {
  color: #fff !important;
  /* background-color: #fff !important; */
}

.navbar-toggler-icon {
  filter: brightness(20%);
  filter: invert(100%);
}

ul li {
  margin: 0px 10px 0px 10px;
}

.navbar-nav-scroll {
  max-height: 50vh;
  overflow-y: visible;
}

.navbar-toggler:focus {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.navbar-collapse {
  flex-basis: 100%;
  /* flex-grow: 1;
   */
  justify-content: space-between;
}

/* .ms100 {
  margin-left: 900px !important;

} */