* {
	margin: 0;
	padding: 0;
}

body {
	--bg: #fff;
	--bg2: #f5f8fd;
	--text-a: #292727;
	--text-b: #d8d8d8;
	--text-c: #050d18;
	--active-color: #149ddd;
	--active-hover-color: #37b3ed;
	--title-color: #173B6C;
	--secondary-bg: #dce8f8;
	--secondary-bg2: #e1ebf8;
	font-family: "Open Sans", sans-serif;
	color: var(--text-a);
	background: var(--bg);
	--mobile: 768px;
	--half-screen: 1199px
}

body.dark {
	--bg: #121415;
	--bg: #0d1214;
	--bg2: #16191A;
	--bg2: #13161b;
	--text-a: #fff;
	--text-b: #353535;
	--text-c: #fff;
	--active-color: #149ddd;
	--title-color: #2d71cf;
	--secondary-bg: #18191d;
	--secondary-bg2: #232429;
}

main {
	min-height: 150vh;
}

header {
	background-color: var(--bg2);
	background-color: var(--bg);
	border-bottom: 1px solid var(--text-b);
	height: 60px;
}

main {
	background-color: var(--bg);
	border: 1px solid var(--text-b);
	border-top: none;
	border-bottom: none;

	width: 50%;
	margin: auto;
}

.hero {
	border-bottom: 1px solid var(--text-b);
	position: relative;
	height: 200px;
	margin-bottom: 60px;
}

.hero>img {
	width: 100%;
	height: 100%;
}

.img-container {
	overflow: hidden;
	position: absolute;
	inset: 0;
	margin: auto;
	top: 100px;
	width: 200px;
	height: 200px;
}

.img-container img {
	top: 50px;
	border-radius: 50%;
}

main section {
	background-color: var(--bg2);
	border: 1px solid var(--text-b);

	margin: 0 10px 10px 10px;
	padding: 20px;
	border-radius: 10px;
}

/* */

@media (max-width: 1199px) {
	main {
		width: 80%;
	}

	aside {
		display: none;
	}
}