/*  */


* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

header {
  background-image: linear-gradient(
    #851922 1%,
    #601412 99%
  );
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

#name {
  font-size: 16px;
  letter-spacing: 4px;
  margin-left: 10px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(
  45deg,
  #B71F2C 50%
  #601412 50%
  );
  height: 8vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 50vh;
    background-color: #601412;
    background-image: linear-gradient(
    to bottom,#601412 50%, #511211
  );
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-radius: 0px 0px 0px 15px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#logo {
  width: 5%;
  height: 5%;
  position: relative;
  top: 5px;
}

#logoName {
  display: flex;
  align-items: center;
}