* {
  transition: 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-image: linear-gradient(180deg,
      green,
      rgb(2, 82, 2));
}

h1, header nav {
  padding-top: 20px;
}

header p {
  max-width: 80%;
  margin: 10px auto;
}

nav {
  padding-bottom: 15px;
  width: 100%;
}

ul {
  text-align: center;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  padding-block-start: 0px;
  padding-left: 0px;
}

nav ul li {
  font-size: 1em;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ffffff70;
}

img {
  width: 100%;
  margin: 20px 0px;
}

.mobile-img {
  width: 20%;
}

h3, h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
}

main section p {
  font-size: 1em;
  text-indent: 30px;
  line-height: 25px;
}

#extra {
  border-radius: 15px;
  background-color: rgb(68, 114, 0);
  padding-bottom: 20px;
  text-align: start;
  margin-bottom: 20px;
}

#extra p {
  margin: 0px 20px;
}

#extra h4 {
  background-color: rgb(52, 87, 0);
  padding: 10px;
  border-radius: 15px 15px 0px 0px;
}

ol {
  margin: 20px 0px;
  list-style: none;
  text-align: start;
}

footer {
  margin: 20px;
}

footer a {
  font-size: 1em !important;
}